html {
    font-family: "Nanum Gothic Coding", monospace;
    color: rgba(35, 2, 46, 1);
    text-align: center;
    line-height: 1.6rem;
    scroll-behavior: smooth;
}

.menu {
    display: flex;
    justify-content: center;
}

.left-container {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    padding-right: 80px;
}

.right-container {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    padding-left: 80px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    height: 235px;
    width: 235px;
    border-radius: 50%;
    padding: 7rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(35, 2, 46, 1);
}

h2 {
    font-weight: normal;
}

.logostecnologias {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-tecnologias {
    margin: 3rem 0 3rem 0;
}

.html-logo,
.css-logo,
.js-logo {
    height: 100px;
    width: auto;
    margin: 0 2rem 0 2rem;
}

#arrow {
    text-align: center;
    font-size: 2rem;
}

.tecnologias,
.sobremim,
.projetos,
.redes {
    width: 900px;
    padding: 0 50px 0 50px;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.sobremim > h3 {
    text-align: left;
}

.container-redes {
    height: 800px;
    width: 800px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.github,
.email,
.youtube,
.linkedin {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#github,
#email,
#youtube,
#linkedin {
    font-size: 100px;
}

.row2 {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.html,
.css,
.js,
.mysql,
.git  {
    height: 200px;
    width: auto;
}

footer {
    width: 100%; 
    text-align: center;
    margin: 80px 0 0 0; 
    overflow: hidden;
}

.msgFooter {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1); 
      }
}

@media (max-width: 800px) {
    .image-container {
        height: 400px;
    }

    .html-logo,
    .css-logo,
    .js-logo {
        height: 100px;
        width: auto;
        margin: 0 1rem 0 1rem;
    }

    #arrow {
        text-align: center;
        font-size: 2rem;
        margin: 0 0 2rem 0;
    }

    .tecnologias,
    .sobremim,
    .projetos,
    .redes {
        width: 300px;
        padding: 0 50px 0 50px;
        margin: 40px auto 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;
    }

    .icons-tecnologias {
        margin: 1rem 0 1rem 0;
    }

    .html,
    .css,
    .js,
    .mysql,
    .git  {
        height: 90px;
        width: auto;
    }

    .container-redes {
        height: 900px;
        width: 450px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .github,
    .email,
    .youtube,
    .linkedin {
        margin: 0 auto;
        height: 200px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #github,
    #email,
    #youtube,
    #linkedin {
        font-size: 100px;
    }

    footer {
        width: 100%; 
        text-align: center;
        margin: 80px 0 0 0; 
        overflow: hidden;
    }
}

@media (max-width: 600px) {
    .menu {
        display: none;
    }
}

@media (max-width: 450px) {
    .menu {
        display: none;
    } 

    .image-container {
        height: 400px;
    }

    .html-logo,
    .css-logo,
    .js-logo {
        height: 100px;
        width: auto;
        margin: 0 1rem 0 1rem;
    }

    #arrow {
        text-align: center;
        font-size: 2rem;
        margin: 0 0 2rem 0;
    }

    .tecnologias,
    .sobremim,
    .projetos,
    .redes {
        width: 300px;
        padding: 0 50px 0 50px;
        margin: 40px auto 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: justify;
    }

    .icons-tecnologias {
        margin: 1rem 0 1rem 0;
    }

    .html,
    .css,
    .js,
    .mysql,
    .git  {
        height: 90px;
        width: auto;
    }

    .container-redes {
        height: 900px;
        width: 450px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .github,
    .email,
    .youtube,
    .linkedin {
        margin: 0 auto;
        height: 200px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #github,
    #email,
    #youtube,
    #linkedin {
        font-size: 50px;
    }

    footer {
        width: 100%; 
        text-align: center;
        margin: 80px 0 0 0; 
        overflow: hidden;
    }
}